.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dream-edit {
  background: skyblue;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
}

.form-field {
  margin:0.5rem;
}

.dream-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  margin-top: 1rem;
  border: 3px solid black;
  border-radius: 5%;
}

.dream {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 4%;
  background: white;
  padding: 1rem;
}

.dream .good {
  background: green;
}

.dream .bad {
  background: red;
}
